.registration-title {
  font-size: calc(7px + 2vmin);
  text-align: center;
  margin-bottom: 7%;
}

.registration-typing_area {
  max-width: 40%;
  font-size: calc(1px + 2vmin);
  display: inline-block;
  margin-left: 7%;
}

.registration-text_area {
  resize: none;
}

.registration-submit_button {
  width: 30%;
  height: 30%;
  font-size: calc(6px + 2vmin);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.registration-invalid_text {
  color: red;
}
